# Dependencies
node_modules/
dart_platform/.dart_tool
dart_platform/build/**
!dart_platform/build/*.exe

# Compiled files
dist/

# Package files
*.vsix

# VS Code test outputs
.vscode-test/
.history/

# Local secrets
.noriter-ai/telegram-config.json
